<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Crear un nuevo post</h1>
    <form action="/posts/new" method="POST">
        <div>
            <label for="title" >Titulo:</label>
            <input 
                id="title" 
                required 
                maxlength="30" 
                minlength="5" 
                name="title" 
                placeholder="Escribe el titulo de tu post"
            />
        </div>
        <div>
            <label for='content'>Contenido</label>
            <textarea 
                placeholder="Escribe el contenido de tu posteo" 
                maxlength="255" 
                minlength="10" 
                name="content" 
                id="content" 
                required 
            ></textarea>
        </div>
        <button type="submit" >Crear post</button>
    </form>
    {{#if error}}
        <span style="color: red;">
            {{error}}
        </span>
    {{/if}}
</body>
</html>