<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div>
            <label>
                Ingrese su nombre de usuario:
            </label>
            <input name="username" id="username" type="text" placeholder="cosme_fulanito" required/>
        </div>
        <div>
            <label>
                Ingrese su contraseña:
            </label>
            <input type="password" id="password" name="password" placeholder="cosme123" required/> 
        </div>
        <input type="submit" value="Registrar" />
    </form>
    <span>Ya tienes cuenta? <a href="/login">Ingresa aqui</a></span>
</body>
</html>