<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>nodemailer</title>
</head>
<body>
    <h1>Bienvenido a tu mensajeria online</h1>

    <a href="./formulario">Ir a mensajeria</a>
</body>
</html>