<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {{#if isAdmin}}
            Mode: Admin
        {{/if}}
    </header>
    <h1>Bienvenido {{user.username}}</h1>
    <a href="/logout">Cerrar sesion</a>
</body>
</html>